
/* GLOBAL CSS */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Georgia', Times, serif;
        font-weight: bold;
}

/* BACKGROUND */

.container {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100vh;
        offset: 10px;
        justify-content: center;

}

/* MEDIA QUERIES */
@media (min-width: 1024px) {
        .card {
                min-width: 80%
        }
}

@media (max-height: 684px) {
        #monkeyPatch {
                display: none;
        }
        #mPatch {
                margin-top: 120px;
        }
}

@media (max-width: 768px) {
        .container {
        flex-direction: column;
        }
        .navigation {
                display: none;
        }

        .mobileCenter {margin: auto;}
        .footer-content {
                overflow-x: hidden;
        }
        .footer-content h1 {
                display: none;
                /* to do: fix links alignment  */
        }
}
/* CARD */

.card {
        
        width: 90%;
        max-width: 350px;
        color: #000000;
        text-align: center;
        padding: 1rem;
        margin: 1rem auto;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.8);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        
}
        
.card h1 {

        font-size: 40px;
        font-weight: 600;
        margin-top: 0px;

}



.card p {

  font-size: 18px;
  margin: 10px auto;
  max-width: 330px;

}

/* CARD INFO */

/* #shabbatTimes a {font-size: 18px; margin: 0; padding: 0;} */

div.hebcal-container {
 font-family: "Helvetica","Gill Sans",GillSans,Arial,Helvetica,sans-serif;
}

div.hebcal-container div h3 {
 font-family: Helvetica,Palatino,"Times New Roman",Times,serif; font-size: 18px; /* applies to location */
}


div.hebcal-container div ul.hebcal-results { list-style-type: none;}
div.hebcal-container div ul.hebcal-results li {
  margin: 15px 0;
  font-size: 21px; /* applies to everything below the location, but copy */
  font-weight: 200;
  line-height: normal;
  
}

div.hebcal-container div ul.hebcal-results a {font-size: 16px; text-decoration: underline;} /* applies to parsha */

div.hebcal-container div div.hebcal-results .candles { color: red; font-size: 10px;}
div.hebcal-container div div.hebcal-results .havdalah { color: green }
div.hebcal-container div div.hebcal-results .parashat { color: black; background: #ff9 }
div.hebcal-container div div.hebcal-results .holiday { display: none }

a:link {color: #4f4f4f;}

a:visited {color: #4f4f4f}
        
.copyright {font-size: 6px; color: black} /* applies to copy */

div.hebcal-container div a {font-size: 6px; padding: 0; margin: 0; text-decoration: none;} /* applies to copy */






/* HEADER & NAVBAR */

body {       
        min-height: 100vh;
        max-width: 100%;
        overflow-x: hidden;
        background-image: url("../assets/background.JPG");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

}


img {

        width: 300px;
        display: block;
        margin-top: 1rem; 
        margin-right: auto;
        margin-left: auto;
}


/* mobile nav */

.card a {
        text-decoration: underline;
        color: rgb(0, 0, 0);
        padding: 6px 15px;
        border-radius: 20px;
        margin: 0 10px;
        font-weight: 600;
        font-size: 18px;
}

.navigation button {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 6px 15px;
        border-radius: 20px;
        margin: 0 10px;
        font-weight: 600;
        font-size: 19.5px;
        margin-right: 40px;
}

.navigation a:hover, .navigation button:hover, .navigation a.active {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        
}

.navigation .btnLogin-popup {
        position: relative;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
}

.navigation .btnLogin-popup::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        color: white;
        opacity: 0.85;
}








    /* ZIP CODE ENTRY STYLING */

#inputContainer {
        
        display: flex;
        flex-direction: column;
        
}

#inputContainer input {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
        border: 2px solid rgb(0, 0, 0);
        height: 1.75rem;
        width: 50%;
        text-align: center;

}

#inputContainer button {
        margin-bottom: 0.25rem;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 4px;
        padding: 0.5rem;
        background-color: white;
        width: 75%;
        margin-left: auto;
        margin-right: auto;


}

    


      #loadingIndicator {
        display: none;
        /* width: 10%
        z-index: 9999999; */
        border: 16px solid #fff; /* Light grey */
        border-top: 16px solid #0099ff; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 3s linear infinite;
        margin: 0 auto;        
}

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

/* VENMO LOGO POSITION */
      .container box-icon {margin: 0 auto;}

    .venmo-tile {display: flex;
                 flex-direction: column;
                 text-align: center;
                           
}